<ion-view view-title="Edit Friend">
  <ion-content >
    
    <div class="card">
      <ion-input class="item item-input">
        <input type="text" placeholder="Name" ng-model="friend.name">
      </ion-input>
      <ion-input class="item item-input">
        <input type="text" placeholder="Status" ng-model="friend.status">
      </ion-input>
    </div>

    <div class="padding">
      <div class="button-bar">
        <button class="button button-positive" ng-click="save()">Save</button>
      </div>
    </div>

  </ion-content>
</ion-view>
